body {
    background-color: lightblue;
    font-style: helvetica, sans-serif, arial;
}


h1 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
    }

p {
    text-align: justify;
}