
header{
    
    text-align: center;
    font-style: helvetica, sans-serif, arial;
}

body {
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    align-items: center;
    background-repeat: no-repeat; 
   
    
}

p{

    text-align: justify;
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 12px;
}

.container{
    background-color: rbga(255, 255, 0.6);
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: rbga(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    min-width: 60vw;
    max-width: 70vw;
    min-height: 60vh;
    max-height: 90vh;
    margin: 0 auto;
}

form section{
   padding: 0 5%;
   margin-top: 20px; 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-group label{
    padding-left: 10px;
}

.input-group input [type="text"]{
    height: 30px;
    width: 250px;
    border: 1px solid #edede8;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 2px 0px;
    padding-left: 10px;
    margin: 3px 0 10px;
}

.input-answers-container {
    display: flex;
    flex-direction: column;
}
